<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start" class="ion-text-left ion-no-padding">Contact us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="backgroundGrey">
    <ion-card class="ion-no-padding ion-no-margin mT10">
      <ion-row class="darkColor">
        <ion-col size="12" size-sm="12">
          <ion-card-header>
            <ion-card-title class="primaryColor"> Contact Us here </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="mB20">
              <ion-col size="4">
                <h2>Phone:</h2>
              </ion-col>
              <ion-col size="8">
                <p>+91-9464297972</p>
              </ion-col>
              <ion-col size="4">
                <h2>Email:</h2>
              </ion-col>
              <ion-col size="8">
                <p>varunsahni003@gmail.com</p>
              </ion-col>
            </ion-row>
            <ion-row class="borderTop">
              <ion-col size="12">
                <h1 class="primaryColor mT20">Social Media</h1>
              </ion-col>
              <ion-col size="4">
                <h2>Facebook:</h2>
              </ion-col>
              <ion-col size="8">
                <a href="javascript:void(0)">facebook.com</a>
              </ion-col>
              <ion-col size="4">
                <h2>Linkedin:</h2>
              </ion-col>
              <ion-col size="8">
                <a href="javascript:void(0)">linkedin.com</a>
              </ion-col>
              <ion-col size="4">
                <h2>YouTube:</h2>
              </ion-col>
              <ion-col size="8">
                <a href="javascript:void(0)">youtube.com</a>
              </ion-col>
              <ion-col size="4">
                <h2>Instagram:</h2>
              </ion-col>
              <ion-col size="8">
                <a href="javascript:void(0)">instagram.com</a>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>