.oldPrice {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    color: darkgray;
}
.priceLabel {
    position: fixed;
    bottom: -4px;
    z-index: 5;
    width: 100%;
}
ion-thumbnail {
    --size: 110px;
}
.mR10 { margin-right: 10px; }
.addingBorder { border-top: 1px solid var(--ion-color-medium); border-bottom: 1px solid var(--ion-color-medium); }
.specificationAlignment { margin: 0px; font-size: 18px; }
.finalPrice { padding-left: 10px; }