<ion-app>
  <ion-menu menuId="main" contentId="content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Ecommerce</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="ion-no-padding ion-no-margin" *ngFor="let ecom of eComm">
        <ion-item lines="none" (click)="itemClicked(ecom)" [routerDirection]="'root'">
          <ion-icon slot="start" [name]="ecom.icon"></ion-icon>
          <ion-label>{{ecom.title}}</ion-label>
        </ion-item>
        <ion-list *ngIf="ecom.subPage">
          <ion-menu-toggle *ngFor="let subItems of ecom.subPages">
            <ion-item lines="none" [routerDirection]="'root'" [routerLink]="[subItems.url]">
              <ion-icon slot="start" [name]="subItems.icon"></ion-icon>
              <ion-label>{{subItems.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-list>
      <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="login" lines="none" button>
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>