#header {
    font-weight: bold;
    margin-top: 50px;
    color: #667;
    font-size: 30px;
   }
   
   #desc {
    font-size: small;
   }
   
   #card1 {
    background: linear-gradient(to left top, #c165dd, #5c27fe);
   }
   
   #card2 {
    background: linear-gradient(to left top, #77f08b, #068a64);
   }
   
   #card3 {
    background: linear-gradient(to left top, #ff7c6e, #f5317f);
   }
   
   ion-grid {
    padding: 50px 100px 0 100px;
   }
   
   ion-card {
    transition: 0.5s;
    margin: 50px;
   
    ion-card-title,
    ion-card-subtitle {
    color: #ffffff !important;
    font-size: 25px;
       }
   
    ion-card-content {
    h2 {
    font-weight: bold;
    color: #ffffff;
    text-decoration: underline;
           }
   
    p {
    color: #ffffff !important;
    margin: 20px auto;
           }
       }
   
    ion-icon {
    font-size: 150px;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 1%;
    opacity: 0.2;
    transform: rotate(-30deg);
       }
   }