<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start" class="ion-text-left ion-no-padding">Order History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="orderDetails && orderDetails.length > 0" class="backgroundGrey">
    <!-- Address -->
    <ion-card *ngFor="let product of orderDetails" class="ion-no-padding ion-no-margin mT10">
      <ion-row class="darkColor">
        <ion-col size="3" size-sm="3">
          <!-- <ion-row class="ion-float-left mT10 mR10"> -->
            <ion-thumbnail class="fullWidth">
              <img [src]="product.image" [attr.alt]="product.name" />
            </ion-thumbnail>
          <!-- </ion-row> -->
        </ion-col>

        <ion-col size="9" size-sm="9">
          <ion-card-header>
            <ion-card-title class="primaryColor"> {{ product.name }} </ion-card-title>
            <ion-card-subtitle *ngIf="!product.delivered"> Will Deliver on {{ product.deliveryDate }} </ion-card-subtitle>
            <ion-card-subtitle *ngIf="product.delivered"> Delivered On {{ product.deliveryDate }} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> Order id: {{ product.id }} </p>
            <p> {{ product.description }} </p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>