/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.primaryColor { color: var(--ion-color-primary); }
.secondaryColor { color: var(--ion-color-secondary); }
.successColor { color: var(--ion-color-success); }
.darkColor { color: var(--ion-color-dark); }
.backgroundGrey { background-color: #f8f8f8; }
.fontBold { font-weight: bold; }
.fontItalic { font-style: italic; }
.cursorChange { cursor: pointer; }
.mT0 { margin-top: 0px; }
.mB0 { margin-bottom: 0px; }
.mT10 { margin-top: 10px !important; }
.mT20 { margin-top: 20px !important; }
.mT30 { margin-top: 30px !important; }
.serifFont { font-family: serif; }
.smallText { font-size: 13px; }
.mediumText { font-size: 16px; }
.largeText { font-size: 21px !important; }

.ion-invalid.ion-touched ion-label {
    color: var(--ion-color-danger);
}
.text-muted {
    color: var(--ion-color-medium);
    font-size: 13px;
}