<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start" class="ion-text-left ion-no-padding">Ecommerce</ion-title>
    <ion-buttons slot="end">
      <ion-button class="pR0" (click)="navigateTo('cart')">
        <ion-icon name="cart" slot="icon-only" class="white top-btn ion-no-margin"></ion-icon>
      </ion-button>
      <ion-button (click)="side_open()">
        <ion-icon name="search" slot="icon-only" class="white top-btn ion-no-margin"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" class="white top-btn" (click)="helperService.navigateTo('login')">
        Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>