<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start" class="ion-text-left ion-no-padding">Ecommerce</ion-title>
    <ion-buttons slot="end">
      <ion-button class="pR0" [routerLink]="['/cart']">
        <ion-icon name="cart" slot="icon-only" class="white top-btn ion-no-margin"></ion-icon>
      </ion-button>
      <ion-button (click)="isSearch = true">
        <ion-icon name="search" slot="icon-only" class="white top-btn ion-no-margin"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" class="white top-btn" (click)="helperService.navigateTo('login')">
        Login
      </ion-button>
    </ion-buttons>
  <ion-searchbar
    (ionCancel)="cancelSearch()"
    (ionBlur)="cancelSearch()"
    showCancelButton="always"
    animated
    *ngIf="isSearch"
    class="isSearch">
  </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides #Slides pager="false" (click)="preventDefault($event)" [options]="slideOptions" (ionSlideDidChange)="ionSlidechange()">
    <ion-slide [routerLink]="['category', 'All']">
      <p> All </p>
    </ion-slide>
    <ion-slide [routerLink]="['category', category]" *ngFor="let category of categories">
      <p> {{ category }} </p>
    </ion-slide>
  </ion-slides>
  <app-products [products]="popular"></app-products>
</ion-content>