<ion-header *ngIf="loggedInUserDetails && loggedInUserDetails.length>0">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start" class="ion-text-left ion-no-padding">My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loggedInUserDetails && loggedInUserDetails.length>0">
  <ion-grid class="primaryBackgroundColor">
    <ion-row color="light">
      <ion-col class="ion-text-center">
          <ion-icon name="person" class="personAvatar"></ion-icon>
          <!-- <ion-avatar>
            <img draggable="false" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar> -->
        <h4 class="mT0 lightColor"> {{ loggedInUserDetails[0].name }} </h4>
        <p class="lightColor mB0"> {{ loggedInUserDetails[0].mobile }} </p>
        <p class="mT5 lightColor"> {{ loggedInUserDetails[0].email }}
          <span class="ion-float-right"><ion-icon class="lightColor editIcon" name="pencil"></ion-icon></span>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="backgroundGrey">
              <!-- Address -->
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-padding ion-no-margin darkColor">
          <ion-card-header>
            <ion-card-title>Saved Addresses</ion-card-title>
            <ion-card-subtitle>View all your saved addresses</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button routerLink="../address">View Addresses</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-padding ion-no-margin darkColor">
          <ion-card-header>
            <ion-card-title>Orders history</ion-card-title>
            <ion-card-subtitle>View all your orders</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button routerLink="../order-history">View Orders</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-padding ion-no-margin darkColor">
          <ion-card-header>
            <ion-card-title>My Wishlist</ion-card-title>
            <ion-card-subtitle>View your wishlist</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button routerLink="../wishlist">View Wishlist</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
