.personAvatar {
    height: 55px;
    width: 55px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px;
    color: #fff;
}
.header-md::after {
    background-image: none !important;
}
.editIcon { font-size: 20px; }